@model List<TP4.Models.Cadete>
@{
    ViewData["Title"] = "Home Page";
}



<form asp-controller="AltaController" asp-action"AltaPedido" method="post">
    <label for="n">Numero de pedido: 
        <input type="text" name="n" >
    </label>Observacion
    <label for="o">
        <input type="text" name="Obs" id="o">
    </label>
    <label for ="e">Estado
        <input type="number" name="Estado" id="e" min="0" max="2">
    </label for="c">
    <label>Cliente: 
        <input type="text" name="Cliente" id="c">
    </label>
    <label for="d">Direccion: 
        <input type="text" name="Dir" id="d">
    </label>
    <input type="submit" value="Enviar">
    
</form>