@{
    ViewData["Title"] = "Home Page";
}



<form asp-controller="AltaController" asp-action"AltaPedido" method="post">
    <input type="number" name="Nro">
    <input type="text" name="Obs">
    <input type="number" name="Estado">
    <input type="text" name="Cliente">
    <input type="text" name="Dir">
</form>