@{
    ViewData["Title"] = "CadeteRecibir Page";
}

<h3>Alta de cadetes</h3>
<form asp-controller="Cadete" asp-action="MostrarCadete" method="post">
    <label>Nombre: 
        <input type="text" name="Nombre">
    </label>
    <label>Direccion: 
        <input type="text" name="Direccion">
    </label>
    <label>Telefono: 
        <input type="text" name="Telefono1">
    </label>
    <input type="submit" value="Enviar">
</form>

