@model List<TP4.Models.Cadete>;

@{
    ViewData["Title"] = "CadeteRecibir Page";
}

<table>
    <tr>
        <th>ID del Cadete</th><th>Nombre</th><th>Direccion</th><th>Telefono</th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td><td>@item.Nombre</td><td>@item.Direccion</td><td>@item.Telefono1</td>
            </tr>
        }
</table>