@model List<Cadete>;

@{
    ViewData["Title"] = "CadeteRecibir Page";
}

<table>
    <tr>
        <th>ID del Cadete</th><th>Nombre</th><th>Direccion</th><th>Telefono</th>
    </tr>
    <tr>
    </tr>
</table>